svg {
  display: block;
  margin: 0 auto;
  min-height: 400px;
  max-width: 100vw;
  max-height: calc(100vh - 120px);
  path {
      fill: #ccc;
      &.filtered {
        fill: #aaa;
      }
      &:hover {
          fill: #555;
      }
      &.visited {
          fill: #777;
          &.filtered {
            fill: #555;
          }
      }
  }
}

#country_filter {
  padding: 2px 5px;
}
