#main-menu {
  float: right;
  a {
    padding: 3px 5px;
    margin: 0 5px;
    display: inline-block;
  }
}
.btn-facebook {
  cursor: pointer;
  background: linear-gradient(#4c69ba, #3b55a0);
  border: none;
  float: right;
  font-size: .8rem;
  padding: 5px 10px;
  color: #fff;
}
